<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">My Tasks</h1>

            <div>
                <button class="btn btn-primary" routerLink="/add">New Task</button>
            </div>

            <!--TABLE-->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"># Tarea</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Created at</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col">Update at</th>
                    </tr>
                </thead>
                
                <tbody>
                    <ng-container *ngFor="let task of tasks | filter:page:search; let index = index">
                        <tr *ngIf="tasks.length > 0">
                            <th scope="row"><b>{{ task.id }}</b></th>
                            <td>{{ task.title }}</td>
                            <td>{{ task.description }}</td>
                            <td>{{ task.created | date:"yyyy-MM-dd" }} </td>
                            <td>{{ task.status_task }}</td>
                            <td>
                                <i *ngIf="task.status_task === 'DONE'" class="fa-solid fa-square-check"
                                    style="color: #18b938;"></i>
                                <i *ngIf="task.status_task === 'IN PROGRESS'" class="fas fa-clock"></i>
                                <i *ngIf="task.status_task === 'TO DO'" class="fa-regular fa-clock"
                                    style="color: #861d1d;"></i>
                            </td>
                            <td>{{ task.update_date_task }}</td>
                            <td>
                                <button class="btn btn-primary" [routerLink]="'/update/' + task.id">Edit</button>
                            </td>
                            <td>
                                <button class="btn btn-danger mx-2" (click)="deleteTask(task.id)">Delete</button>
                            </td>

                        </tr>
                        <tr *ngIf="tasks.length == 0">
                            <td colspan="7" class="text-center">
                                <h3>No task logs ...</h3>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div class="row">
                <div class="col">
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-dark btn-block" (click)="previousPage()">
                            Previous Page
                        </button>
                        &nbsp;
                        <button class="btn btn-dark btn-block" (click)="nextPage()"
                            [disabled]="(tasks | filter:page:search).length === 0">
                            Next Page
                        </button>
                    </div>
                </div>
                <div class="col">
                    <input type="text" class="form-control mb-2" placeholder="Filter by status" #txtSearch
                        (keyup)="onSearchStatus( txtSearch.value )">
                </div>
            </div>

        </div>

    </div>
</div>
